Repository sfc-gh-dszmolka/universal-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, rust-clippy, rust-cargo-check, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rust-linting
        name: Rust formatting
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all --
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-cargo-check
        name: Rust cargo check
        description: Run cargo check on files included in the commit. cargo check should be installed before-hand.
        entry: cargo check --all-targets --all-features
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: clang-format
        name: clang-format
        description: Run clang-format on C/C++ files included in the commit. clang-format should be installed before-hand.
        entry: clang-format -i
        pass_filenames: true
        types_or: [c, c++]
        language: system

TLS CRL validation plumbing: parsing, caching, verifier integration, and safer defaults (#71)
  sf_core/src/crl/cache.rs
  sf_core/src/crl/certificate_parser.rs
  sf_core/src/crl/config.rs
  sf_core/src/crl/error.rs
  sf_core/src/crl/mod.rs
  sf_core/src/crl/worker.rs
  sf_core/src/tls/crl_verifier.rs
  sf_core/src/tls/mod.rs
  sf_core/src/tls/x509_utils.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2330387: Refactoring codec-cov (#105)
  .codecov.yml
  .github/workflows/test-odbc.yml
  .github/workflows/test-rust-core.yml
  codecov.yml
Due: none

SNOW-2223811 e2e tests definitions for put/get source compression (#104)
  Cargo.lock
  sf_core/Cargo.toml
  sf_core/tests/e2e/put_get/mod.rs
  sf_core/tests/e2e/put_get/put_get_source_compression.rs
  sf_core/tests/put_get_source_compression_tests.rs
  tests/definitions/put_get/put_get_source_compression.feature
  tests/test_coverage_report/coverage_report.py
  tests/test_coverage_report/feature_parser.py
  tests/test_coverage_report/validator_integration.py
  tests/tests_format_validator/src/step_finder.rs
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW: update cursor rules (#106)
  .cursor/rules/refactor-rules.mdc
  .cursor/rules/rust-error-handling-rules.mdc
  .cursor/rules/rust-formatting-rules.mdc
  .cursor/rules/test-rules.mdc
  sf_core/tests/.cursor/rules/rust-test-rules.mdc
Due: none

SNOW-2223811 migrate put/get wildcards tests in Core to e2e format (#108)
  sf_core/tests/common/put_get_common.rs
  sf_core/tests/e2e/put_get/mod.rs
  sf_core/tests/e2e/put_get/put_get_auto_compress.rs
  sf_core/tests/e2e/put_get/put_get_basic_operations.rs
  sf_core/tests/e2e/put_get/put_get_overwrite.rs
  sf_core/tests/e2e/put_get/put_get_source_compression.rs
  sf_core/tests/e2e/put_get/put_get_wildcards.rs
  sf_core/tests/put_get_wildcards_tests.rs
  tests/definitions/put_get/put_get_wildcards.feature
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 migrate parameter bind test to e2e format (#109)
  sf_core/tests/common/arrow_extract_value.rs
  sf_core/tests/common/test_utils.rs
  sf_core/tests/e2e/query/mod.rs
  sf_core/tests/e2e/query/parameters_bind.rs
  sf_core/tests/parameter_bind_tests.rs
  tests/definitions/query/parameters_bind.feature
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 remove redundant test, split test utils (#110)
  sf_core/tests/api_client_tests.rs
  sf_core/tests/common/config.rs
  sf_core/tests/common/file_utils.rs
  sf_core/tests/common/mod.rs
  sf_core/tests/common/put_get_common.rs
  sf_core/tests/common/snowflake_test_client.rs
  sf_core/tests/e2e/authentication/pat.rs
  sf_core/tests/e2e/authentication/private_key_auth.rs
  sf_core/tests/e2e/put_get/put_get_auto_compress.rs
  sf_core/tests/e2e/put_get/put_get_basic_operations.rs
  sf_core/tests/e2e/put_get/put_get_overwrite.rs
  sf_core/tests/e2e/put_get/put_get_source_compression.rs
  sf_core/tests/e2e/put_get/put_get_wildcards.rs
  sf_core/tests/e2e/query/large_result_set.rs
  sf_core/tests/e2e/query/parameters_bind.rs
  sf_core/tests/e2e/tls/connection_init.rs
  sf_core/tests/integration/authentication/private_key_auth.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2381279: Python tests for GET basic operations, adjust makefile, feature extension (#111)
  .pre-commit-config.yaml
  pep249_dbapi/Makefile
  pep249_dbapi/tests/e2e/put_get/__init__.py
  pep249_dbapi/tests/e2e/put_get/put_get_helper.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_auto_compress.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_basic_operations.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_overwrite.py
  tests/definitions/put_get/put_get_auto_compress.feature
  tests/definitions/put_get/put_get_basic_operations.feature
  tests/definitions/put_get/put_get_overwrite.feature
Due: none

remove black from precommit (#114)
  .pre-commit-config.yaml
Due: none

SNOW-2223811 add test format validator to GHA, improve test Readme (#116)
  .github/workflows/validations.yml
  .pre-commit-config.yaml
  tests/definitions/README.md
Due: none

SNOW-2371279: Add Python e2e tests for PUT/GET - wildcards and source compression (#115)
  pep249_dbapi/tests/e2e/put_get/put_get_helper.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_auto_compress.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_basic_operations.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_source_compression.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_wildcards.py
  pep249_dbapi/tests/integ/test_put_get_auto_compress.py
  pep249_dbapi/tests/integ/test_put_get_overwrite.py
  pep249_dbapi/tests/integ/test_put_get_simple.py
  pep249_dbapi/tests/integ/test_put_get_source_compression.py
  pep249_dbapi/tests/integ/test_put_get_wildcards.py
  tests/definitions/put_get/put_get_source_compression.feature
  tests/definitions/put_get/put_get_wildcards.feature
Due: none

Migrate JDBC to protobuf (#94)
  Cargo.lock
  jdbc/build.gradle
  jdbc/src/java/com/snowflake/jdbc/SnowflakeConnection.java
  jdbc/src/java/com/snowflake/jdbc/SnowflakeResultSet.java
  jdbc/src/java/com/snowflake/jdbc/SnowflakeStatement.java
  jdbc/src/java/com/snowflake/unicore/CoreTransport.java
  jdbc/src/java/com/snowflake/unicore/JNICoreTransport.java
  jdbc/src/java/com/snowflake/unicore/ProtobufApis.java
  jdbc/src/java/com/snowflake/unicore/TransportException.java
  jdbc/src/java/com/snowflake/unicore/protobuf_gen/DatabaseDriverService.java
  jdbc/src/java/com/snowflake/unicore/protobuf_gen/DatabaseDriverServiceClient.java
  jdbc/src/java/com/snowflake/unicore/protobuf_gen/DatabaseDriverV1.java
  jdbc_bridge/Cargo.toml
  jdbc_bridge/src/lib.rs
  pep249_dbapi/pep249_dbapi/protobuf_gen/database_driver_v1_pb2.py
  proto_generator/Cargo.toml
  proto_generator/src/generator.rs
  proto_generator/src/generators/helpers.rs
  proto_generator/src/generators/java_generator.rs
  proto_generator/src/generators/mod.rs
  proto_generator/src/main.rs
  protobuf/database_driver_v1.proto
  scripts/generate_proto.sh
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 adjust Behavior Difference tracking to new approach (#117)
  odbc_tests/BehaviorDifferences.yaml
  odbc_tests/BreakingChanges.md
  odbc_tests/tests/auth_tests/pat.cpp
  odbc_tests/tests/integration/authentication/private_key_auth.cpp
  odbc_tests/tests/put_get_tests/test_put_get_auto_compress.cpp
  odbc_tests/tests/put_get_tests/test_put_get_simple.cpp
  pep249_dbapi/BehaviorDifferences.yaml
  pep249_dbapi/BreakingChanges.md
  pep249_dbapi/tests/e2e/authentication/auth_helpers.py
  pep249_dbapi/tests/e2e/authentication/test_private_key_auth.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_auto_compress.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_basic_operations.py
  pep249_dbapi/tests/e2e/put_get/test_put_get_source_compression.py
  pep249_dbapi/tests/integ/authentication/test_private_key_auth.py
  tests/definitions/README.md
  tests/test_coverage_report/behavior_differences_handler.py
  tests/test_coverage_report/breaking_changes_handler.py
  tests/test_coverage_report/coverage_report.py
  tests/test_coverage_report/feature_parser.py
  tests/test_coverage_report/html_generator.py
  tests/test_coverage_report/styles.css
  tests/test_coverage_report/validator_integration.py
  tests/tests_format_validator/Cargo.lock
  tests/tests_format_validator/Cargo.toml
  tests/tests_format_validator/README.md
  tests/tests_format_validator/src/behavior_differences_processor.rs
  tests/tests_format_validator/src/behavior_differences_utils.rs
  tests/tests_format_validator/src/breaking_changes_utils.rs
  tests/tests_format_validator/src/driver_handlers/base_handler.rs
  tests/tests_format_validator/src/driver_handlers/factory.rs
  tests/tests_format_validator/src/driver_handlers/jdbc_handler.rs
  tests/tests_format_validator/src/driver_handlers/odbc_handler.rs
  tests/tests_format_validator/src/driver_handlers/python_handler.rs
  tests/tests_format_validator/src/lib.rs
  tests/tests_format_validator/src/main.rs
  tests/tests_format_validator/src/validator.rs
  tests/tests_format_validator/tests/validator_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

SNOW-2433652: Add initial Jenkinsfile (#119)
  ci/Jenkinsfile
Due: none

SNOW-2450510: Create mini core (#122)
  Cargo.lock
  Cargo.toml
  scripts/package_minicore.sh
  sf_mini_core/Cargo.toml
  sf_mini_core/cbindgen.toml
  sf_mini_core/src/lib.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Fix large result set when initial chunk is empty (#123)
  sf_core/src/apis/database_driver_v1/query.rs
  sf_core/src/chunks.rs
  sf_core/tests/e2e/query/large_result_set.rs
  tests/definitions/query/large_result_set.feature
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2433652: Build mini core (#124)
  ci/Jenkinsfile
Due: none

SNOW-2433652: Build mini core on Mac OS (#125)
  ci/Jenkinsfile
Due: none

SNOW-2433652: Build sf mini core on Windows (#126)
  ci/Jenkinsfile
Due: none

SNOW-2433652: Build on all available platforms (#127)
  ci/Jenkinsfile
Due: none

Upload minicore packages on Jenkins (#128)
  Cargo.lock
  Cargo.toml
  ci/Jenkinsfile
  scripts/package_minicore.bat
  scripts/package_minicore.sh
  scripts/upload_minicore.bat
  scripts/upload_minicore.sh
  scripts/version.bat
  scripts/version.sh
  sf_mini_core/Cargo.toml
  sf_mini_core_static/Cargo.toml
  sf_mini_core_static/src/lib.rs
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW: New snowcodecov (#130)
  .github/workflows/test-jdbc.yml
  .github/workflows/test-odbc.yml
  .github/workflows/test-pep249.yml
  .github/workflows/test-rust-core.yml
Due: none

SNOW-2371565: Basic HTTP retry policy with exponential backoff (#133)
  sf_core/src/config/mod.rs
  sf_core/src/config/retry.rs
  sf_core/src/crl/cache.rs
  sf_core/src/http/mod.rs
  sf_core/src/http/retry.rs
  sf_core/src/lib.rs
  sf_core/tests/e2e/http/mod.rs
  sf_core/tests/e2e/http/retry.rs
  sf_core/tests/e2e/mod.rs
  sf_core/tests/http_retry_tests.rs
  tests/definitions/http/retry.feature
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW Fix Windows minicore binary uploads to S3 (#140)
  ci/Jenkinsfile
Due: none

Change flags for repository (#141)
  .github/repo_meta.yaml
Due: none

NO-SNOW: Load core module from python package data (#145)
  .github/workflows/test-python.yml
  python/Makefile
  python/README.md
  python/pyproject.toml
  python/src/snowflake/ud_connector/_core/.gitignore
  python/src/snowflake/ud_connector/_core/__init__.py
  python/src/snowflake/ud_connector/_internal/api_client/c_api.py
  python/src/snowflake/ud_connector/connection.py
  python/tests/conftest.py
  python/tests/connector_factory.py
Due: none

SNOW-2399371 create Jenkinsfile for performence tests, add more Tags (#132)
  odbc/src/api/api_utils.rs
  tests/performance/Jenkinsfile
  tests/performance/README.md
  tests/performance/drivers/Dockerfile.sf_core_builder
  tests/performance/drivers/build_sf_core_builder.sh
  tests/performance/drivers/core/Dockerfile
  tests/performance/drivers/core/app/src/results.rs
  tests/performance/drivers/core/build.sh
  tests/performance/drivers/detect_platform.sh
  tests/performance/drivers/odbc/Dockerfile
  tests/performance/drivers/odbc/app/connection.cpp
  tests/performance/drivers/odbc/app/main.cpp
  tests/performance/drivers/odbc/app/results.cpp
  tests/performance/drivers/odbc/build.sh
  tests/performance/drivers/python/Dockerfile
  tests/performance/drivers/python/app/connection.py
  tests/performance/drivers/python/app/results.py
  tests/performance/drivers/python/build.sh
  tests/performance/pyproject.toml
  tests/performance/requirements-dev.txt
  tests/performance/runner/benchstore_upload.py
  tests/performance/runner/container.py
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

SNOW-2371565: Provide async query execution and retry policies (#136)
  sf_core/src/apis/database_driver_v1/mod.rs
  sf_core/src/apis/database_driver_v1/statement.rs
  sf_core/src/rest/snowflake/async_exec.rs
  sf_core/src/rest/snowflake/error.rs
  sf_core/src/rest/snowflake/mod.rs
  sf_core/src/rest/snowflake/query_response.rs
  sf_core/tests/common/snowflake_test_client.rs
  sf_core/tests/e2e/query/async_execution.rs
  sf_core/tests/e2e/query/mod.rs
  tests/definitions/query/async_execution.feature
Due: rust-linting, rust-clippy, rust-cargo-check

Fix Makefile (#149)
  python/Makefile
Due: none

SNOW-2433652: Add support for musl and windows (#147)
  .cargo/config.toml
  ci/Dockerfile.alpine
  ci/Dockerfile.rocky
  ci/Dockerfile.xwin
  ci/Jenkinsfile
  scripts/package_minicore.bat
  scripts/package_minicore.sh
  sf_mini_core/Cargo.toml
Due: none

test validator improvements (#148)
  sf_core/tests/e2e/mod.rs
  sf_core/tests/integration/http/mod.rs
  sf_core/tests/integration/http/retry.rs
  sf_core/tests/integration/mod.rs
  tests/definitions/README.md
  tests/definitions/core/http/retry.feature
  tests/definitions/core/tls/connection_init.feature
  tests/definitions/core/tls/handshake.feature
  tests/definitions/shared/authentication/PAT.feature
  tests/definitions/shared/authentication/private_key_auth.feature
  tests/definitions/shared/put_get/put_get_auto_compress.feature
  tests/definitions/shared/put_get/put_get_basic_operations.feature
  tests/definitions/shared/put_get/put_get_overwrite.feature
  tests/definitions/shared/put_get/put_get_source_compression.feature
  tests/definitions/shared/put_get/put_get_wildcards.feature
  tests/definitions/shared/query/async_execution.feature
  tests/definitions/shared/query/large_result_set.feature
  tests/definitions/shared/query/parameters_bind.feature
  tests/definitions/shared/tls/crl_enabled.feature
  tests/test_coverage_report/coverage_report.py
  tests/tests_format_validator/README.md
  tests/tests_format_validator/src/lib.rs
  tests/tests_format_validator/src/main.rs
  tests/tests_format_validator/src/test_discovery.rs
  tests/tests_format_validator/src/validator.rs
  tests/tests_format_validator/tests/validator_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Fix x509 vs root store comparisons (#151)
  sf_core/src/crl/cache.rs
  sf_core/src/tls/x509_utils.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Use rustls_native_certs (#153)
  Cargo.lock
  sf_core/Cargo.toml
  sf_core/src/crl/cache.rs
  sf_core/src/crl/validator.rs
  sf_core/src/tls/crl_verifier.rs
  sf_core/src/tls/x509_utils.rs
  sf_core/tests/e2e/tls/crl_enabled.rs
  sf_core/tests/e2e/tls/mod.rs
Due: rust-linting, rust-clippy, rust-cargo-check
