Repository sfc-gh-dszmolka/universal-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, rust-clippy, rust-cargo-check, clang-format

rust-linting:
  name: Rust formatting
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: cargo fmt --all --
  pass_filenames: true
  language: system

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -Dclippy::all
  pass_filenames: false
  language: system

rust-cargo-check:
  name: Rust cargo check
  description: Run cargo check on files included in the commit. cargo check should be installed before-hand.
  entry: cargo check --all-targets --all-features
  pass_filenames: false
  language: system

clang-format:
  name: clang-format
  description: Run clang-format on C/C++ files included in the commit. clang-format should be installed before-hand.
  entry: clang-format -i
  pass_filenames: true
  language: system

NO-SNOW: Fix jdbc formating (#47)
  .github/workflows/test-rust-core.yml
  jdbc_bridge/Cargo.toml
  jdbc_bridge/src/lib.rs
  jdbc_bridge/src/slf4j_layer.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2285928: refactor rust error handling with snafu (#46)
  .cursor/rules/rust-error-handling-rules.mdc
  Cargo.lock
  sf_core/Cargo.toml
  sf_core/src/api_server/database_driver_v1.rs
  sf_core/src/api_server/query.rs
  sf_core/src/arrow_utils.rs
  sf_core/src/auth.rs
  sf_core/src/chunks.rs
  sf_core/src/compression.rs
  sf_core/src/compression_types.rs
  sf_core/src/config/mod.rs
  sf_core/src/config/rest_parameters.rs
  sf_core/src/driver/statement.rs
  sf_core/src/file_manager/encryption.rs
  sf_core/src/file_manager/file_transfer.rs
  sf_core/src/file_manager/mod.rs
  sf_core/src/file_manager/path_expansion.rs
  sf_core/src/file_manager/types.rs
  sf_core/src/rest/error.rs
  sf_core/src/rest/mod.rs
  sf_core/src/rest/snowflake/mod.rs
  sf_core/src/rest/snowflake/query_response.rs
  sf_core/tests/common/arrow_result_helper.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Snow-2245257: put get tests for python wrapper (#48)
  pep249_dbapi/pep249_dbapi/connection.py
  pep249_dbapi/pep249_dbapi/cursor.py
  pep249_dbapi/pyproject.toml
  pep249_dbapi/tests/integ/test_connection.py
  pep249_dbapi/tests/integ/test_cursor.py
  pep249_dbapi/tests/integ/test_put_get_auto_compress.py
  pep249_dbapi/tests/integ/test_put_get_overwrite.py
  pep249_dbapi/tests/integ/test_put_get_simple.py
  pep249_dbapi/tests/integ/test_put_get_source_compression.py
  pep249_dbapi/tests/integ/test_put_get_wildcards.py
  pep249_dbapi/tests/integ/utils_put_get.py
  pep249_dbapi/tox.ini
  pep249_dbapi/uv.lock
Due: none

NO-SNOW: update cursor rules (#51)
  .cursor/rules/formatting-rules.mdc
  .cursor/rules/refactor-rules.mdc
  .cursor/rules/rust-formatting-rules.mdc
  sf_core/tests/.cursor/rules/rust-test-rules.mdc
  sf_core/tests/.cursor/rules/test-env-variable.mdc
Due: none

NO-SNOW: get rid of special Python Connector compression behavior (#56)
  pep249_dbapi/tests/integ/test_put_get_simple.py
  sf_core/src/compression.rs
  sf_core/src/file_manager/mod.rs
  sf_core/src/test_utils.rs
  sf_core/tests/put_get_simple_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2316619: fix put get rowsets to return proper field metadata in arrow schema (#52)
  sf_core/src/api_server/arrow_utils.rs
  sf_core/src/api_server/mod.rs
  sf_core/src/api_server/query.rs
  sf_core/src/api_server/query_types.rs
  sf_core/src/arrow_utils.rs
  sf_core/src/lib.rs
  sf_core/src/rest/snowflake/query_response.rs
  sf_core/tests/common/arrow_result_helper.rs
  sf_core/tests/put_get_simple_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Refactor and seperate thrift layer (#58)
  odbc/src/api/connection.rs
  sf_core/src/api_client/helpers.rs
  sf_core/src/api_client/mod.rs
  sf_core/src/api_server/mod.rs
  sf_core/src/apis/database_driver_v1/mod.rs
  sf_core/src/apis/database_driver_v1/query.rs
  sf_core/src/apis/mod.rs
  sf_core/src/arrow_utils.rs
  sf_core/src/c_api.rs
  sf_core/src/lib.rs
  sf_core/src/query_types.rs
  sf_core/src/rest/snowflake/query_response.rs
  sf_core/src/thrift_apis/client/handle_transport.rs
  sf_core/src/thrift_apis/client/mod.rs
  sf_core/src/thrift_apis/database_driver_v1.rs
  sf_core/src/thrift_apis/mod.rs
  sf_core/src/thrift_apis/server/manager.rs
  sf_core/src/thrift_apis/server/mod.rs
  sf_core/src/thrift_apis/server/transport.rs
  sf_core/tests/api_client_tests.rs
  sf_core/tests/common/test_utils.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223648 add breaking changes handling to e2e tests (#59)
  odbc_tests/BreakingChanges.md
  odbc_tests/tests/auth_tests/pat.cpp
  odbc_tests/tests/e2e/authentication/private_key_auth.cpp
  tests/e2e/README.md
  tests/test_coverage_report/breaking_changes_handler.py
  tests/test_coverage_report/coverage_report.py
  tests/test_coverage_report/feature_parser.py
  tests/test_coverage_report/html_generator.py
  tests/test_coverage_report/styles.css
  tests/test_coverage_report/validator_integration.py
  tests/tests_format_validator/Cargo.lock
  tests/tests_format_validator/Cargo.toml
  tests/tests_format_validator/README.md
  tests/tests_format_validator/libconstants.rlib
  tests/tests_format_validator/run_validator.sh
  tests/tests_format_validator/src/breaking_changes_processor.rs
  tests/tests_format_validator/src/breaking_changes_utils.rs
  tests/tests_format_validator/src/driver_handlers/base_handler.rs
  tests/tests_format_validator/src/driver_handlers/factory.rs
  tests/tests_format_validator/src/driver_handlers/jdbc_handler.rs
  tests/tests_format_validator/src/driver_handlers/mod.rs
  tests/tests_format_validator/src/driver_handlers/odbc_handler.rs
  tests/tests_format_validator/src/driver_handlers/python_handler.rs
  tests/tests_format_validator/src/lib.rs
  tests/tests_format_validator/src/main.rs
  tests/tests_format_validator/src/test_discovery.rs
  tests/tests_format_validator/src/validator.rs
  tests/tests_format_validator/tests/validator_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

SNOW-2312021: put get tests for odbc wrapper (#53)
  .github/workflows/test-odbc.yml
  odbc_tests/BreakingChanges.md
  odbc_tests/Dockerfile
  odbc_tests/common/CMakeLists.txt
  odbc_tests/common/include/MetaOfSqlCTypes.hpp
  odbc_tests/common/include/get_data.hpp
  odbc_tests/common/include/put_get_utils.hpp
  odbc_tests/tests/CMakeLists.txt
  odbc_tests/tests/put_get_tests/CMakeLists.txt
  odbc_tests/tests/put_get_tests/test_put_get_auto_compress.cpp
  odbc_tests/tests/put_get_tests/test_put_get_overwrite.cpp
  odbc_tests/tests/put_get_tests/test_put_get_simple.cpp
  odbc_tests/tests/put_get_tests/test_put_get_wildcards.cpp
Due: clang-format

NO-SNOW: fix pep249 put/get tests to work with Python Connector (#61)
  pep249_dbapi/BreakingChanges.md
  pep249_dbapi/tests/conftest.py
  pep249_dbapi/tests/integ/test_put_get_simple.py
  pep249_dbapi/tests/integ/test_put_get_source_compression.py
  pep249_dbapi/tests/integ/utils_put_get.py
  pep249_dbapi/tests/utils.py
  sf_core/src/compression_types.rs
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW: fix compression type BZIP2 for compatibility with python and odbc (#62)
  sf_core/src/compression_types.rs
  sf_core/src/rest/snowflake/query_response.rs
  sf_core/tests/put_get_source_compression_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

fix clippy errors in ODBC (#63)
  odbc/src/read_arrow.rs
  odbc/src/write_arrow.rs
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW: Testing docs (#60)
  README.md
  jdbc/README.md
  odbc/README.md
  pep249_dbapi/Makefile
  pep249_dbapi/README.md
  sf_core/README.md
Due: none

Refactor thrift top layer pt2 (#74)
  sf_core/src/apis/database_driver_v1/connection.rs
  sf_core/src/apis/database_driver_v1/database.rs
  sf_core/src/apis/database_driver_v1/error.rs
  sf_core/src/apis/database_driver_v1/global_state.rs
  sf_core/src/apis/database_driver_v1/mod.rs
  sf_core/src/apis/database_driver_v1/statement.rs
  sf_core/src/driver/connection.rs
  sf_core/src/driver/database.rs
  sf_core/src/driver/mod.rs
  sf_core/src/driver/statement.rs
  sf_core/src/lib.rs
  sf_core/src/thrift_apis/database_driver_v1.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Add support for initial tls plumbing (#65)
  Cargo.lock
  odbc/src/api/connection.rs
  odbc_tests/common/src/get_diag_rec.cpp
  pep249_dbapi/pep249_dbapi/connection.py
  sf_core/Cargo.toml
  sf_core/src/bin/tls_client.rs
  sf_core/src/lib.rs
  sf_core/src/rest/snowflake/mod.rs
  sf_core/src/tls/client.rs
  sf_core/src/tls/config.rs
  sf_core/src/tls/mod.rs
  thrift/database_driver_v1.thrift
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

SNOW-2341663: create shared test data (#76)
  .github/workflows/validate-generated-test-data.yml
  tests/generated_test_data/README.md
  tests/generated_test_data/basic/test_data.csv
  tests/generated_test_data/compression/test_data.csv
  tests/generated_test_data/compression/test_data.csv.br
  tests/generated_test_data/compression/test_data.csv.bz2
  tests/generated_test_data/compression/test_data.csv.deflate
  tests/generated_test_data/compression/test_data.csv.gz
  tests/generated_test_data/compression/test_data.csv.raw_deflate
  tests/generated_test_data/compression/test_data.csv.xz
  tests/generated_test_data/compression/test_data.csv.zst
  tests/generated_test_data/overwrite/original/test_data.csv
  tests/generated_test_data/overwrite/updated/test_data.csv
  tests/generated_test_data/wildcard/pattern_1.csv
  tests/generated_test_data/wildcard/pattern_10.csv
  tests/generated_test_data/wildcard/pattern_2.csv
  tests/generated_test_data/wildcard/patternabc.csv
  tests/test_data_generators/generate_put_get_test_data.py
Due: none

SNOW-2341663: update rust tests to use shared data (#77)
  sf_core/tests/common/put_get_common.rs
  sf_core/tests/put_get_auto_compress_tests.rs
  sf_core/tests/put_get_overwrite_tests.rs
  sf_core/tests/put_get_simple_tests.rs
  sf_core/tests/put_get_source_compression_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2341663: update python tests to use shared data (#78)
  pep249_dbapi/tests/conftest.py
  pep249_dbapi/tests/integ/test_put_get_auto_compress.py
  pep249_dbapi/tests/integ/test_put_get_overwrite.py
  pep249_dbapi/tests/integ/test_put_get_simple.py
  pep249_dbapi/tests/integ/test_put_get_source_compression.py
  pep249_dbapi/tests/integ/test_put_get_wildcards.py
  pep249_dbapi/tests/integ/utils_put_get.py
Due: none

SNOW-2341663: update odbc tests to use shared data (#79)
  odbc_tests/common/include/put_get_utils.hpp
  odbc_tests/tests/put_get_tests/CMakeLists.txt
  odbc_tests/tests/put_get_tests/test_put_get_auto_compress.cpp
  odbc_tests/tests/put_get_tests/test_put_get_overwrite.cpp
  odbc_tests/tests/put_get_tests/test_put_get_simple.cpp
  odbc_tests/tests/put_get_tests/test_put_get_source_compression.cpp
  odbc_tests/tests/put_get_tests/test_put_get_wildcards.cpp
Due: clang-format

Initial CRL stubs with tests and fail open only (#66)
  Cargo.lock
  odbc/src/api/api_utils.rs
  odbc/src/api/diagnostic.rs
  odbc_tests/common/include/test_setup.hpp
  sf_core/Cargo.toml
  sf_core/src/crl/config.rs
  sf_core/src/crl/mod.rs
  sf_core/src/crl/validator.rs
  sf_core/src/lib.rs
  sf_core/src/tls/mod.rs
  sf_core/src/tls/x509_utils.rs
  sf_core/tests/e2e/mod.rs
  sf_core/tests/e2e/tls/connection_init.rs
  sf_core/tests/e2e/tls/mod.rs
  tests/e2e/tls/connection_init.feature
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

Run actions on all PRs [not only main] (#92)
  .github/workflows/test-jdbc.yml
  .github/workflows/test-odbc.yml
  .github/workflows/test-pep249.yml
  .github/workflows/test-rust-core.yml
Due: none

add rust toolchain file (#85)
  rust-toolchain.toml
Due: none

SNOW-2223811 create Gherkin tests definitions for put_get basic operations (#93)
  tests/definitions/put_get/put_get_basic_operations.feature
Due: none

Translate thrift interface to protobuf (#86)
  protobuf/database_driver_v1.proto
Due: none

Protobuf generators (#88)
  .github/workflows/test-rust-core.yml
  .github/workflows/validate-generated-data.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  pep249_dbapi/pep249_dbapi/protobuf_gen/database_driver_v1_pb2.py
  pep249_dbapi/pep249_dbapi/protobuf_gen/database_driver_v1_services.py
  pep249_dbapi/pep249_dbapi/protobuf_gen/proto_exception.py
  proto_generator/Cargo.lock
  proto_generator/Cargo.toml
  proto_generator/README.md
  proto_generator/src/generator.rs
  proto_generator/src/generators/helpers.rs
  proto_generator/src/generators/json_generator.rs
  proto_generator/src/generators/mod.rs
  proto_generator/src/generators/python_generator.rs
  proto_generator/src/generators/rust_generator.rs
  proto_generator/src/lib.rs
  proto_generator/src/main.rs
  proto_generator/src/protobuf.rs
  proto_utils/Cargo.toml
  proto_utils/src/lib.rs
  scripts/generate_proto.sh
  sf_core/Cargo.toml
  sf_core/src/lib.rs
  sf_core/src/protobuf_gen/database_driver_v1.rs
  sf_core/src/protobuf_gen/mod.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Implement protobuf api (#89)
  sf_core/src/c_api.rs
  sf_core/src/file_manager/file_transfer.rs
  sf_core/src/lib.rs
  sf_core/src/protobuf_apis/database_driver_v1.rs
  sf_core/src/protobuf_apis/mod.rs
  sf_core/tests/api_client_tests.rs
  sf_core/tests/common/arrow_result_helper.rs
  sf_core/tests/common/test_utils.rs
  sf_core/tests/e2e/authentication/pat.rs
  sf_core/tests/e2e/query/large_result_set.rs
  sf_core/tests/e2e/tls/connection_init.rs
  sf_core/tests/parameter_bind_tests.rs
  sf_core/tests/put_get_auto_compress_tests.rs
  sf_core/tests/put_get_overwrite_tests.rs
  sf_core/tests/put_get_simple_tests.rs
  sf_core/tests/put_get_source_compression_tests.rs
  sf_core/tests/put_get_wildcards_tests.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 create Core tests implementation for basic put_get tests (#95)
  sf_core/tests/e2e/mod.rs
  sf_core/tests/e2e/put_get/mod.rs
  sf_core/tests/e2e/put_get/put_get_basic_operations.rs
  sf_core/tests/put_get_simple_tests.rs
  tests/definitions/put_get/put_get_basic_operations.feature
Due: rust-linting, rust-clippy, rust-cargo-check

NO-SNOW: Fix failing proto generation check (#98)
  pep249_dbapi/pep249_dbapi/protobuf_gen/database_driver_v1_pb2.py
Due: none

NO-SNOW: Fix odbc flaky tests (#96)
  odbc_tests/common/include/Connection.hpp
  odbc_tests/common/include/Schema.hpp
  odbc_tests/tests/bindings_tests/test.cpp
  odbc_tests/tests/datatype_tests/number_tests.cpp
  odbc_tests/tests/datatype_tests/string_tests.cpp
Due: clang-format

Provide rpath so loading built dependencies works (#97)
  build_common.rs
  odbc/build.rs
  pep249_dbapi/Makefile
  pep249_dbapi/pep249_dbapi/api_client/c_api.py
  sf_core/build.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Migrate python driver to protobuf (#90)
  pep249_dbapi/pep249_dbapi/__init__.py
  pep249_dbapi/pep249_dbapi/api_client/c_api.py
  pep249_dbapi/pep249_dbapi/api_client/client_api.py
  pep249_dbapi/pep249_dbapi/connection.py
  pep249_dbapi/pep249_dbapi/cursor.py
  pep249_dbapi/pyproject.toml
  pep249_dbapi/tests/e2e/authentication/auth_helpers.py
  pep249_dbapi/tests/integ/authentication/test_private_key_auth.py
  pep249_dbapi/uv.lock
Due: none

SNOW-2330387: CodeCov integration for Universal Driver (#84)
  .codecov.yml
  .github/workflows/test-jdbc.yml
  .github/workflows/test-odbc.yml
  .github/workflows/test-pep249.yml
  .github/workflows/test-rust-core.yml
  README.md
  jdbc/build.gradle
  pep249_dbapi/Makefile
  pep249_dbapi/ci/reference_tests/compare_reports.py
  pep249_dbapi/pyproject.toml
Due: none

initial crl cache implementation (#68)
  odbc/src/api/connection.rs
  pep249_dbapi/pep249_dbapi/connection.py
  sf_core/src/apis/database_driver_v1/connection.rs
  sf_core/src/bin/tls_client.rs
  sf_core/src/crl/cache.rs
  sf_core/src/crl/certificate_parser.rs
  sf_core/src/crl/config.rs
  sf_core/src/crl/error.rs
  sf_core/src/crl/mod.rs
  sf_core/src/crl/validator.rs
  sf_core/src/query_types.rs
  sf_core/src/tls/client.rs
  sf_core/src/tls/config.rs
  sf_core/src/tls/crl_verifier.rs
  sf_core/src/tls/error.rs
  sf_core/src/tls/mod.rs
  sf_core/src/tls/revocation.rs
  sf_core/src/tls/x509_utils.rs
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 Migrate put_get auto-compress tests to e2e format in Core (#100)
  sf_core/tests/common/put_get_common.rs
  sf_core/tests/e2e/put_get/mod.rs
  sf_core/tests/e2e/put_get/put_get_auto_compress.rs
  sf_core/tests/e2e/put_get/put_get_basic_operations.rs
  sf_core/tests/put_get_auto_compress_tests.rs
  sf_core/tests/put_get_overwrite_tests.rs
  sf_core/tests/put_get_source_compression_tests.rs
  tests/definitions/put_get/put_get_auto_compress.feature
Due: rust-linting, rust-clippy, rust-cargo-check

SNOW-2223811 migrate put_get overwrite tests to e2e format (#101)
  sf_core/tests/common/put_get_common.rs
  sf_core/tests/common/test_utils.rs
  sf_core/tests/e2e/authentication/private_key_auth.rs
  sf_core/tests/e2e/put_get/mod.rs
  sf_core/tests/e2e/put_get/put_get_auto_compress.rs
  sf_core/tests/e2e/put_get/put_get_basic_operations.rs
  sf_core/tests/e2e/put_get/put_get_overwrite.rs
  sf_core/tests/e2e/query/large_result_set.rs
  sf_core/tests/e2e/tls/connection_init.rs
  sf_core/tests/put_get_overwrite_tests.rs
  sf_core/tests/put_get_source_compression_tests.rs
  tests/definitions/put_get/put_get_overwrite.feature
Due: rust-linting, rust-clippy, rust-cargo-check

Migrate ODBC to protobuf (#91)
  Cargo.lock
  odbc/Cargo.toml
  odbc/src/api/connection.rs
  odbc/src/api/data.rs
  odbc/src/api/error.rs
  odbc/src/api/handle_allocation.rs
  odbc/src/api/statement.rs
  odbc/src/api/types.rs
  odbc/src/api/utils.rs
  pep249_dbapi/tests/e2e/authentication/auth_helpers.py
Due: rust-linting, rust-clippy, rust-cargo-check

Run odbc tests in parallel (#103)
  .github/workflows/test-odbc.yml
  odbc_tests/run.sh
  odbc_tests/run_reference.sh
Due: none

Path conditions:
  rust-linting: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-cargo-check: any of: \.rs$
  clang-format: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
