Repository sfc-gh-dszmolka/universal-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-linting, rust-clippy, rust-cargo-check, clang-format

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: rust-linting
        name: Rust formatting
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all --
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-cargo-check
        name: Rust cargo check
        description: Run cargo check on files included in the commit. cargo check should be installed before-hand.
        entry: cargo check --all-targets --all-features
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: clang-format
        name: clang-format
        description: Run clang-format on C/C++ files included in the commit. clang-format should be installed before-hand.
        entry: clang-format -i
        pass_filenames: true
        types_or: [c, c++]
        language: system
    -   id: tests-format-validator
        name: Tests format validator
        description: Validate that test implementations match Gherkin feature scenarios
        entry: bash -c 'cd tests/tests_format_validator && cargo run --bin tests_format_validator -- --workspace $(pwd)/../.. --features $(pwd)/../definitions'
        pass_filenames: false
        language: system

NO-SNOW: Add license file and notice (#156)
  LICENSE
  README.md
Due: none

SNOW-2399371 add select and put/get tests, different cloud support and new tags (#155)
  scripts/decode_secrets.sh
  tests/performance/.gitignore
  tests/performance/Jenkinsfile
  tests/performance/README.md
  tests/performance/conftest.py
  tests/performance/drivers/Dockerfile.sf_core_builder
  tests/performance/drivers/core/Dockerfile
  tests/performance/drivers/core/app/src/results.rs
  tests/performance/drivers/odbc/Dockerfile
  tests/performance/drivers/odbc/app/query_execution.cpp
  tests/performance/drivers/odbc/app/results.cpp
  tests/performance/drivers/odbc/app/results.h
  tests/performance/drivers/odbc/build.sh
  tests/performance/drivers/python/Dockerfile
  tests/performance/drivers/python/app/query_execution.py
  tests/performance/drivers/python/app/results.py
  tests/performance/drivers/python/build.sh
  tests/performance/parameters/parameters_perf_azure.json.gpg
  tests/performance/parameters/parameters_perf_gcp.json.gpg
  tests/performance/pyproject.toml
  tests/performance/runner/benchstore_upload.py
  tests/performance/runner/container.py
  tests/performance/runner/local_runner.py
  tests/performance/tests/test_put_get.py
  tests/performance/tests/test_select_1000000.py
  tests/performance/tests/test_select_1M.py
  tests/performance/tests/test_select_50M.py
Due: rust-linting, rust-clippy, rust-cargo-check, clang-format

SNOW-2681494: odbc PUT-GET new tests (#154)
  .clang-format
  odbc_tests/BehaviorDifferences.yaml
  odbc_tests/common/include/put_get_utils.hpp
  odbc_tests/tests/CMakeLists.txt
  odbc_tests/tests/e2e/put_get/put_get_auto_compress.cpp
  odbc_tests/tests/e2e/put_get/put_get_basic_operations.cpp
  odbc_tests/tests/e2e/put_get/put_get_overwrite.cpp
  odbc_tests/tests/e2e/put_get/put_get_source_compression.cpp
  odbc_tests/tests/e2e/put_get/put_get_wildcards.cpp
  odbc_tests/tests/put_get_tests/CMakeLists.txt
  odbc_tests/tests/put_get_tests/test_put_get_auto_compress.cpp
  odbc_tests/tests/put_get_tests/test_put_get_overwrite.cpp
  odbc_tests/tests/put_get_tests/test_put_get_simple.cpp
  odbc_tests/tests/put_get_tests/test_put_get_source_compression.cpp
  odbc_tests/tests/put_get_tests/test_put_get_wildcards.cpp
  tests/definitions/shared/put_get/put_get_auto_compress.feature
  tests/definitions/shared/put_get/put_get_basic_operations.feature
  tests/definitions/shared/put_get/put_get_overwrite.feature
  tests/definitions/shared/put_get/put_get_source_compression.feature
  tests/definitions/shared/put_get/put_get_wildcards.feature
Due: clang-format

Switch driver API to shared TLS client + retry-aware async path (#137)
  sf_core/src/apis/database_driver_v1/connection.rs
  sf_core/src/apis/database_driver_v1/error.rs
  sf_core/src/apis/database_driver_v1/query.rs
  sf_core/src/apis/database_driver_v1/statement.rs
  sf_core/src/chunks.rs
  sf_core/src/compression.rs
  sf_core/src/protobuf_apis/database_driver_v1.rs
  sf_core/src/rest/snowflake/mod.rs
Due: rust-linting, rust-clippy, rust-cargo-check

Rotate aws test account password (#160)
  .github/secrets/parameters_aws.json.gpg
Due: none

Add disclaimer regarding project support
  README.md
Due: none

Update README.md
  README.md
Due: none
